<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layout :: head('Search: ' + ${terms})"></head>

<body>

<div th:replace="layouts/layout :: navigation"></div>

<div class="container mt-sm-3 bg-white p-2 pb-5 px-4">

    <div class="row pt-4">
        <div class="order-2 order-lg-1 col-12 col-lg-4">

            <form class="form-inline mt-4 mt-lg-0 mb-4" method="get" th:action="@{/search/p}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Products" name="s" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a th:each="category : ${categories}" th:object="${category}" th:href="@{'/cat/' + *{name.replace(' ', '+')}}" class="d-none d-lg-block">
                <p th:text="*{name}" class="mb-2"></p>
            </a>
        </div>

        <div class="col order-lg-2">
            <h3 th:text="${terms}"></h3>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 my-auto" th:each="product : ${products}" th:object="${product}">
                    <a th:href="@{'/' + *{filename}}">
                        <img th:src="*{image1}" th:alt="*{title}" class="img-fluid product product-image"/>
                        <p th:text="*{title}"></p>
                    </a>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${page.currentPage == 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{'/search/p?s=' + ${terms.replace(' ', '+')} + '&page=' + ${page.currentPage - 2}}" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" th:unless="${page.currentPage == 1}"><a class="page-link" th:href="@{'/search/p?s=' + ${terms.replace(' ', '+')} + '&page=' + ${page.currentPage - 2}}" th:text="${page.currentPage} - 1"></a></li>
                    <li class="page-item active"><a class="page-link" th:text="${page.currentPage}"></a></li>
                    <li class="page-item"><a class="page-link" th:href="@{'/search/p?s=' + ${terms.replace(' ', '+')} + '&page=' + ${page.currentPage}}" th:text="${page.currentPage} + 1"></a></li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/search/p?s=' + ${terms.replace(' ', '+')} + '&page=' + ${page.currentPage}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>




<footer th:replace="layouts/layout :: footer"></footer>

</body>
</html>